@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .writing-vertical-rl {
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }

  .writing-horizontal-tb {
    writing-mode: horizontal-tb;
  }
}

.dragging {
  opacity:0.5;
}

.draggable-item {
  cursor: move;
}

.grip-handle {
  cursor: grab;
}

.grip-handle:active {
  cursor: grabbing;
}

